@keyframes borderMove {
    0% {
      background-position: 100% 0%;
    }
    25% {
      background-position: 75% 25%;
    }
    50% {
      background-position: 50% 50%;
    }
    75% {
      background-position: 25% 75%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
  
  .animate-border-move {
    animation: borderMove 2s linear infinite;
  }

  /* styles/globals.css or tailwind.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

hr {
  width: -webkit-fill-available;
}